VITE_AIRIA_PIPELINE_ID=75e0a7ca-f7cd-4039-8608-340dd7c60a33
VITE_AIRIA_API_KEY=
VITE_AIRIA_API_URL=https://embed-api.airia.ai
VITE_AIRIA_GREETING=Hello! How can I assist you today?
VITE_AIRIA_IMAGE_PATH=
VITE_AIRIA_IMAGE_SIZE=small
VITE_AIRIA_IMAGE_BG_COLOR=#FFFFFF
VITE_AIRIA_AUTO_OPEN=true
